# Ignore raw financial data
data/*.csv
data/*.xlsx
data/*.json

# Python
__pycache__/
venv/
.env

# System / Logs
.DS_Store
*.log

# Documents / Generated Artifacts
*.pdf
data/*.pdf
data/Portfolio_Analysis_Report.md
